#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50vh;
    
}
#form-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 5px;
}


#form-container form button {
    height: 35px;
    width: 20%;
    background-color: blue;
    border-radius: 20px;
}
#form-container form input, textarea {
    width: 30%;
    border-radius: 8px;
    padding-left: 3px;
    border: 1px solid black;
    
}